.heading {
    font-size: 55px;
    font-weight: 700;
    margin: 0 0 0 3.9%;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    animation: promotion 9s steps(11, end)
}
    