.header {
    min-height: 85px;
    background-color: rgba(0, 0, 0, .6);
    &__menu {
        display: grid;
        grid-template-columns: 750px 600px;
        grid-template-rows: 85px;
    }
    &__list {
        display: grid;
        grid-template-columns: repeat(2, 125px) 185px 190px;
        grid-auto-columns: 120px;
        grid-column-gap: 25px;
        grid-template-rows: 85px;
        list-style-type: none;
    }
    &__list > div {
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover {
            background: rgba(0, 0, 0, 0.7);
        }
    }
    &__link {
        font-size: 15px;
        font-weight: 400;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        color: aquamarine;
    }
}